#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left;}
#nav_menu ul li a { 
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    background-color: #7a0F05;
    color: white; }
#nav_menu ul li a.lastitem { border-right: none; }
#nav_menu ul li a.current { color: #fca00a; }