@font-face {
    font-family: 'EB Garamond', serif;
src: url(EB_Garamond.zip)
}

/*styles for header*/
header {
    top: 0;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
}
#hamburger {
    display: none;
}
header img {
    width: 100%;
    height: auto;
}

body {
    width: 100%;
    border: none;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 500;
}

h1 {
    color:  #7a0f05;
}

h3 {
    color:  #7a0f05;
}

main img {
    border: 1px solid;
    width: 100%;
    height: auto;
  
  }
  /*styles for footer*/
footer {
        background-image: url(Images/Libraryfooter3.jpg);
        border-image: top 3px solid #7a0f05;
        width: 100%;
        height: 30px;
        font-size: 20pt;
        font-weight: 400;
        font-family: EB Garamond, san serif;
  }

  /* styles for grid on About Page*/
section {
    display: grid;
    grid-template: 2fr 2fr / 25% 50%;
    grid-gap: 50px 25px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
/*styles for the sidebar*/
aside {
    width: 35%;
    float: right;
    padding: 20px;
    margin-right: 40px;
    font-family: EB Garamond, sans-serif;
    
}

/* styles for grid on Projects Page*/
.class-for-projects
 main {
     display: grid;
     grid-template-rows: 1fr 1fr;
     grid-template-columns: 50% 50%;
     grid-gap: 40px;
     margin-left: 40px;
 }
/* styles for Index Page*/
.class-for-index 
main { 
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 640px) {
    #hamburger {
        display: inline-block;
        color:  #7a0f05;
        width: 26px;
    }
    nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 20px 20px 20px 0px;
        top: 20px
    }
    nav:hover ul {
        display: block;
    }
    nav li {
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    nav>ul li {
    text-align: left;
    color: #7a0f05;
    float: left;
    }

    main {
        width: 100%;
        float: left;
        font-size: 14pt;
        line-height: 1.25;
    } 
       section {
        width: 100%;
        float: left;
    }
    aside {
        width: 100%;
        float: left;
    }
    footer {
        width: 100%;
        float: left;
        font-size: 14pt
    }
}
/* print stylesheet*/
@media print {
    header, nav {
        display: none;
        }
* {
    font: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
@page {
    margins: 1inch;

}
}
    
